.header { 
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}


/* Header */
.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

/* QR Code Hover */
.header__navbar-item--QR:hover .header_qr {
    display: block;
    } 

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item--bold{
    font-weight: 500;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #FB9086;
    right: -9px;
    top: 0px;
}

.header__navbar-tiltle--nopointer{
    cursor: text;
    color: var(--white-color);
}

/* Header QR_Coder */
.header_qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 150%;
    padding: 6px;
    border-radius: 2px;
    display: none;
    animation: fadeIN ease-in 0.4s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header_qr::after {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 10px;
}

.header__qr-download {
    height: 17px;
}


/*  Header notification */

.header__notify {
    position: absolute;
    top: 150%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: default;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    border-radius: 2px;
    z-index: 1;
}

.header__notify::before {
    content: "";
    position: absolute;
    border-width: 20px 30px;
    border-style: solid;
    right: 0px;
    top: -30px;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    right: 0;
    top: -15px;
    height: 20px;
    background-color: transparent;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}



.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
    list-style-type: none;
}

.header__notify-item{
    
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;

}

.header__notify-description {
    display: block;
    color: #756F6E;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    margin: auto;
    padding: 6px 16px;
    font-size: 1.4rem;
    font-weight: 400;
}


/* Auth Form */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.auth-form__form {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-coler);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back{
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #e4e1e1;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-fb {
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials-gg {
    background-color: var(--white-color);
    color: var(--text-color);
}

.auth-form__socials-fb-text {
    margin: 0 35px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__hepl-link {
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form__help--space {
    display: block;
    height: 22px;
    border-left: 1px solid #EAEAEA;
    margin: -4px 16px;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

.auth-form__help-need {
    color: #939393;
}

/* header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo{
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-icon {
    font-size: 1.4rem;
    color: #6b6a6a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__cart {
    width: 150px;
    text-align: center;
    line-height: 36px;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 10px;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 4px);
    right: -4px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 14px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--nocard {
    padding: 24px 0;
}

.header__cart-img-nocart {
    width: 60%;
    display: none;
}

.header__cart-list--nocard .header__cart-list-msg,
.header__cart-list--nocard .header__cart-img-nocart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 17px;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    top: 0;
    right: -5px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #eb6b51;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
    cursor: pointer;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 132%;
    width: 140px;
    list-style: none;
    padding-left: 0;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.header__search-option::before {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    background-color: transparent;
    position: absolute;
    top: -23px;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    border-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 10px;
} 

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px ;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(160, 159, 159);
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    margin: 8px 14px;
    font-size: 1.6rem;
    color: rgb(185, 182, 182);
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 14px;
}

.header__search-history-item:hover {
    background-color: #f5f3f3;
    cursor: pointer;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
}


/* Has cart */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 50vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    line-height: 25px;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 450;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price-wrap {

}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: .9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin: 0px 0;
    line-height: 25px;
}   

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #f05d41;
}